
Penguins species clustring.ipynb
.env
_Understanding RAG and Choosing the Right Vector Database
01_Multi_modal_RAG_Amazon_Bedrock_Nova.ipynb
app-DESKTOP-38B437N.py
classification-DESKTOP-38B437N.py
finetune.ipynb
Test_image_text_retrival.ipynb
test.ipynb
test.py
test copy 2.ipynb
test copy 2.py
.tmp.driveupload
chroma_storage
chromadb_data
faiss_index
vector store

